.container {
  text-align: center;
  border: solid red 4px;
  border-radius: 15px;
  height: 100px;
  width: 350px;
  // position: relative;
  top: 275px;
  left: 30%;
  right: 40%;
  // margin: auto;
  display: inline-block;
  span{
    color: white;
    // position: absolute;
    left: 80px;
    top: 22px;
    font-size: 88px;
}

}
body{
  text-align: center;
  background-color: lightgray;
}
